<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>287329512687-p6432mf8dlihj52d14h9meacbdqk5775.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.287329512687-p6432mf8dlihj52d14h9meacbdqk5775</string>
	<key>API_KEY</key>
	<string>AIzaSyDuYKoLJGW7XzdY8LChPFMWjnDM1InvOeM</string>
	<key>GCM_SENDER_ID</key>
	<string>287329512687</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.ap02</string>
	<key>PROJECT_ID</key>
	<string>ap02-7c49b</string>
	<key>STORAGE_BUCKET</key>
	<string>ap02-7c49b.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:287329512687:ios:93f4fdd7a3629bdb46bf1a</string>
</dict>
</plist>